@model SignInViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
</head>
<body>
<h1>Sign in to your account</h1>
<form asp-controller="User" asp-action="SignIn" method="post">
    <input hidden asp-for="ReturnUrl" />
    <div asp-validation-summary="ModelOnly" class="validation"></div>
    <div class="form-field">
        <label asp-for="Login"></label>
        <input asp-for="Login" />
        <br />
        <span class="validation" asp-validation-for="Login"></span>
    </div>
    <div class="form-field">
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <br />
        <span class="validation" asp-validation-for="Password"></span>
    </div>
    <label asp-for="RememberMe"></label>
    <input asp-for="RememberMe" />
    <p>
        <button type="submit">Sign in</button>
    </p>
    @Html.ActionLink("I don't have an account yet", "Register", "User")
</form>
</body>
</html>