body {
    background-color: #1d3f53
}

h1, h2, h3, p, span {
    color: #ef8080;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

a, a:visited {
    color: #5fcad9;
    text-decoration: none;
}

a:active {
    color: #3d7d86;
    text-decoration: none;
}