body {
    background-color: #1d3f53
}

h1, h2, h3, p, span, label {
    color: #ef8080;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

a, a:visited {
    color: #5fcad9;
    text-decoration: none;
}

a:active {
    color: #3d7d86;
    text-decoration: none;
}

.action-label {
    margin: 0 1em
}

.validation {
    color: #eee8aa;
}

.form-field {
    margin: 1em 0;
}

.up-right {
    position: absolute;
    top: 3%;
    right: 1%;
}