@{
   
}

<!DOCTYPE html>
<html>
<head>
    <title>Movies and Actors</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
</head>
<body>
    <h1 style="text-align: center">Welcome to movies and actors hub!</h1>
    <p>Choose action to proceed:</p>
    @{ 

    }
</body>
</html>
